Timi.API/obj/Timi.API.csproj.nuget.g.props
Timi.API/obj/project.assets.json
Timi.API/obj/Debug/netcoreapp2.0/Timi.API.AssemblyInfo.cs
Timi.API/obj/Debug/netcoreapp2.0/Timi.API.AssemblyInfoInputs.cache
Timi.API/obj/Debug/netcoreapp2.0/Timi.API.csproj.CoreCompileInputs.cache
Timi.API/obj/Timi.API.csproj.nuget.g.props
Timi.API/obj/Timi.API.csproj.nuget.g.targets
